<div class="ui-g">
  <div class="dash-items ui-g ui-sm-12 ui-md-12 ui-lg-12">

    <div class="ui-xl-4 ui-lg-4 ui-md-4 ui-sm-12">
      <div id="first" class="dash-item ">
        <div class="banner"></div>
          <div class="icon">
            <i style="padding-right: 16px;padding-left: 13px;" class="fas fa-shopping-cart"></i>
          </div>
          <div class="dash-item-content">
            <h4>Ukupno narudžbina</h4>
            <p>
              256
            <span>
              (11%) <i style="color: #61d461;" class="fas fa-hand-point-up"></i>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="ui-xl-4 ui-lg-4 ui-md-4 ui-sm-12">
      <div id="second" class="dash-item ">
        <div class="banner"></div>
          <div class="icon">
            <i style="padding-top: 2px;" class="fas fa-tag"></i>
          </div>
          <div class="dash-item-content">
            <h4>Ukupno prodaja</h4>
            <p>
              100
            <span>
              (5%) <i style="color: #61d461;" class="fas fa-hand-point-up"></i>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="ui-xl-4 ui-lg-4 ui-md-4 ui-sm-12">
      <div id="third" class="dash-item ">
        <div class="banner"></div>
          <div class="icon">
            <i style="padding-right: 16px;padding-left: 13px;" class="fas fa-users"></i>
          </div>
          <div class="dash-item-content">
            <h4>Ukupno mušterija</h4>
            <p>
              256
            <span>
              (11%) <i style="color: #61d461;" class="fas fa-hand-point-up"></i>
            </span>
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="statistic ui-sm-12 ui-md-12 ui-lg-12">
    <p-panel>
      <p-header>
        <h5>Pregled statistike</h5>
      </p-header>
      <div class="ui-g">
        <div class="ui-lg-8 ui-md-8 ui-sm-12">
          <p-chart type="line" showDelay="12" [data]="sales"></p-chart>
        </div>
        <div class="ui-lg-4 ui-md-4 ui-sm-12" style="">
          <p-chart type="pie" [data]="orderStatistic"></p-chart>
        </div>
      </div>
    </p-panel>
  </div>

</div>
