.wrapper {
  width: 100%;
  padding: 10px;
}
.wrapper /deep/ .p-panelmenu /deep/ .p-panelmenu-header {
  margin-top: 5px;

}
.wrapper /deep/ .p-panelmenu /deep/ a {
  background-color: rgba(253, 253, 253, 0);
  display: block !important;
  width: 100%;
  color: white;
  border: 0px;
  font-size:14px;
  position: relative;
  overflow: hidden;
  transition: all;
  transition-duration: 300ms;
}
.wrapper /deep/ .p-panelmenu .p-panelmenu-panel:last-child .p-panelmenu-header > a:hover{
  border-radius: 0px 0px 6px 6px;
}
.wrapper /deep/ .p-panelmenu .p-panelmenu-panel:first-child .p-panelmenu-header > a:hover {
  border-radius: 6px 6px 0px 0px;
}

.wrapper /deep/ .p-panelmenu .p-panelmenu-panel .p-panelmenu-header.p-highlight > a {
  background-color: #ffb78d;
  color: #333;
  border-radius: 6px 6px 0px 0px !important;
}
.wrapper /deep/ .p-panelmenu /deep/ .p-panelmenu-header.p-highlight > a,
.wrapper /deep/ .p-panelmenu /deep/ .p-panelmenu-header.p-highlight > a .p-panelmenu-icon,
.wrapper /deep/ .p-panelmenu /deep/ .p-panelmenu-header.p-highlight > a:hover .p-panelmenu-icon{
  color: #333;
}
.wrapper /deep/ .p-panelmenu /deep/ .p-panelmenu-header > a:hover {
  border: 0px;
}
.wrapper /deep/ .p-panelmenu /deep/ .p-panelmenu-header > a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.wrapper /deep/ .p-panelmenu /deep/ .p-panelmenu-header.p-highlight > a:hover {
  background-color: #ffb78d;
  color: #333;
}
.wrapper /deep/ .p-panelmenu /deep/ .p-panelmenu-header > a .p-menuitem-icon {
  padding-right: 8px;
}
.wrapper /deep/ .p-panelmenu /deep/ .p-panelmenu-header > a:hover .p-panelmenu-icon{
  color: white;
}
.wrapper /deep/ .p-panelmenu /deep/ .p-panelmenu-header > a:focus{
  box-shadow: 0 0 0 0.0em #ffb78d;
}

.wrapper /deep/ .p-panelmenu /deep/  .p-panelmenu-icon{
  float: right;
  color: white;
  font-size: 12px;
  padding-top: 5px;
}

.wrapper /deep/ .p-panelmenu-content {
  background-color: #242d3765;
  color: white;
  border-radius: 0px 0px 6px 6px;
  padding: 3px 0px;
  border: 0px;
}
.wrapper /deep/ .p-panelmenu-content .p-menuitem {
  border-radius: 0px;
}
.wrapper /deep/ .p-panelmenu-content .p-menuitem .p-menuitem-link{
  color: white;
  position: relative;
  overflow: hidden;
  transition: all;
  transition-duration: 300ms;
}

.wrapper /deep/ .p-panelmenu-content .p-menuitem .p-menuitem-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0px !important;
}
.wrapper /deep/ .p-submenu-list /deep/ .p-menuitem-link > span,
.wrapper /deep/ .p-submenu-list /deep/ .p-menuitem-link:hover > span{
  color: white !important;
}
.wrapper /deep/ .p-submenu-list /deep/ .p-menuitem-link:focus{
  box-shadow: none;
}
.wrapper /deep/ .p-panelmenu-content .p-menuitem .p-menuitem-link.p-menuitem-link-active > span,
.wrapper /deep/ .p-panelmenu-content .p-menuitem .p-menuitem-link.p-menuitem-link-active:hover > span{
  color: #ffb78d !important;
}
.wrapper /deep/ a.p-menuitem-link.ng-tns-c106-1,
.wrapper /deep/ a.p-menuitem-link.ng-tns-c106-2,
.wrapper /deep/ a.p-menuitem-link.ng-tns-c106-3{
  color: #ffb78d !important;
}

.wrapper /deep/ a.p-menuitem-link.ng-tns-c106-1{
  padding-left: 21px;
}
.wrapper /deep/ a.p-menuitem-link.ng-tns-c106-2{
  padding-left: 31px;
}
.wrapper /deep/ a.p-menuitem-link.ng-tns-c106-3{
  padding-left: 41px;
}
/* box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.3), 0 7px 10px -5px rgba(60, 72, 88, 0.1); */
