.formGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
@media screen and (max-width: 500px) {
  .formGroup{
    grid-template-columns: 1fr;
  }
}

.labelLink {
  display: flex;
  flex-direction: column;
}
button[type='submit'] {
  margin-bottom: 0px !important;
}
.btn-registrationType {
  border: 2px solid white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  background-color: transparent;
}

.btn-registrationType:hover {
  color: #337ab7;
  border-color: #337ab7;
}
.active3 {
  color: #337ab7;
  border-color: #337ab7;
}
.required-label::after {
  content: '*';
  font-size: 11px;
  top: -5px;
  left: 3px;
  position: relative;
  color:rgb(255, 145, 145);
}
.successful-log {
  padding: 35px 55px 20px 15px;
  font-size: 14px;
}
.successful-log i {
  color: #11a29f;
}
.pAutoComplete /deep/ .ui-corner-all{
  border-radius: 0px !important;
}
.pAutoComplete /deep/ .ui-widget{
  font-family: 'Roboto';
  width: 100%;
}
