
.product-wrapper{
  max-width: 1300px;
  margin: 0px auto;
  padding: 20px 10px;
}
.left-side{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(155, 154, 154, 0.14), 0 2px 1px -1px rgba(187, 184, 184, 0.24);
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
}

.product-title{
  width: 100%;
  font-weight: 200;
  padding-bottom: 5px;
}
.product-title > h3{
  font-family: 'Roboto-midium';
  color: #333;
}
.product-title > hr{
  margin: 12px 0px;
}
.product-images{
  padding: 10px;
}
.product-images /deep/ .gallery {
  position: sticky;
  top: 30px;
}
.backLink{
  font-size: 11px;
  padding-right: 7px;
  text-decoration: none;
  cursor: pointer;
}

 /* Status  */
.product-status{
  margin-top: 10px;
  font-family: 'Roboto-light';
  color: #333;
  height: fit-content;
}

.product-status span{
  display: inline-flex;
  align-items: center;
  padding: 4px;
  margin-right: 8px;
  font-size: 11px;
  border-radius: 5px;
  font-weight: 600;
}
.product-status span i {
  padding-right: 5px;
  font-size: 14px;
}
.positive{
  background-color: #44aa74;
}
.negative{
  background-color: #f797a1;
}
.warning{
  background-color: #ffe399;
}

 /* Komentari */
.comment{
  background-color: white;
  padding: 5px;
  display: grid;
  gap: 8px;
  grid-template-columns: auto 1fr;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  margin-top: 5px;
}
.user-details {
  min-width: 80px;
  max-width: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.user-details > div{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #0078de;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.user-details > div > img {
  max-width: 100%;
  height: 100%;
}
.comment > div{
  display: flex;
  flex-direction: column;
}
.comment-content{
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  margin-bottom: 0px;
  border-radius: 5px;
  min-height: 62px;
  height: 100%;
}
.reply{
  position: relative;
  background-color: #0076de5d;
  border-color: #0078de;
}
.reply::before{
  content: " ";
  position: absolute;
  top: 0%; /* At the bottom of the tooltip */
  left: 0%;
  border-width: 5px;
  border-style: solid;
  border-color: #0078de transparent transparent #0078de;
  transform: translate(-1px, -1px);
}
 /* Price  */
 .price {
  margin-top: 25px;
}

.mp-span,
.price-span,
.dis-span{
  font-family: 'Roboto-bold';
}
.mp-span{
  display: block;
  margin-bottom: 12px;
}
.price-span{
  display: block;
  font-size:30px;
  font-weight: bold;
  color: #44aa74;
  margin-bottom: 2px;
}
.dis-span{
  font-size: 14px;
  font-weight: 100;
}
.product-order{
  margin-top: 15px;
  display: flex;
}
:host /deep/ .product-order .ui-spinner-input{
  padding: 8px 34px 8px 8px !important;
  width: 100px;
}
:host /deep/ .product-order .ui-inputtext:enabled:focus:not(.ui-state-error){
  box-shadow: none;
}
.product-order button{
  font-family: 'Roboto-bold';
  width: 100%;
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-spec-min{
  margin: 35px 0px 25px 0px;
}

.product-spec-min /deep/ .content{
  border-color: #e8e8e8;
  border-width: 2px 0px 0px 0px;
}
.product-spec-min /deep/ ul a li {
  padding: 10px 12px;
  font-size: 12px;
  margin-right: 2px;
  margin-bottom: 1px;
}
.product-spec-min /deep/ ul a li:not(.active){
  background-color: #e8e8e8 !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #333;
}
.table /deep/ .ui-table{
  margin-top: 15px
}
.table /deep/ .ui-table /deep/ .ui-table-wrapper /deep/ .ui-table-tbody > tr > td{
  padding: 6px 10px  !important;
  font-size: 13px;
}
.table /deep/ .ui-table /deep/ .ui-table-wrapper /deep/ .ui-table-thead > tr > th{
  border:1px solid rgb(85, 85, 85);
  background-color: #c8c8c8;
  /* color: white; */
  padding: 8px 0px;
  font-size: 13px;
  text-align: center;
}
#review {
  font-size: 10px;
}
#review > .review-star-num{
  margin: 0px 4px;
  font-family: 'Roboto-light';
  font-size: 12px;
  color: #686868;
}
#review > i {
  color: #bababa;
}
.hoverStar,
.addedStar {
  color: #deb851 !important;
}

.addNewComment > textarea{
  max-width: 100%;
  min-width: 100%;
  padding: 8px;
  font-size: 12px;
  text-align: justify;
  border: 1px solid #c8c8c8;
}
