
.product-wrapper{
  max-width: 1300px;
  margin: 0px auto;
  padding: 20px 10px;
}
.left-side{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(155, 154, 154, 0.14), 0 2px 1px -1px rgba(187, 184, 184, 0.24);
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
}

.product-title{
  width: 100%;
  font-weight: 200;
  padding-bottom: 5px;
}
.product-title > h3{
  font-family: 'Roboto-midium';
  color: #333;
}
.product-images{
  padding: 10px;
}
.product-images /deep/ .gallery {
  position: sticky;
  top: 30px;
}
.backLink{
  font-size: 11px;
  text-decoration: none;
  cursor: pointer;
}

 /* Status  */
.product-status{
  margin-top: 10px;
  font-family: 'Roboto-light';
  color: #333;
  height: fit-content;
}

.product-status span{
  display: inline-flex;
  align-items: center;
  padding: 4px;
  margin-right: 8px;
  font-size: 12px;
  border-radius: 5px;
  font-weight: 600;
}
.product-status span i {
  padding-right: 5px;
  font-size: 14px;
}
.positive{
  background-color: #44aa74;
}
.negative{
  background-color: #f797a1;
}
.warning{
  background-color: #ffe399;
}

 /* Komentari */
.comment{
  background-color: white;
  padding: 5px;
  display: grid;
  gap: 8px;
  grid-template-columns: 120px 1fr;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
.user-details {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.user-details > div{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #0078de;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.user-details > div > img {
  max-width: 100%;
  height: 100%;
}
.comment > p{
  font-size: 12px;
  background-color: rgba(62, 114, 192, 0.466);
  padding: 5px;
  border-radius: 5px;
}
 /* Price  */
 .price {
  margin-top: 25px;
  padding: 0px 15px 0px 0px;
}

.mp-span,
.price-span,
.dis-span{
  font-family: 'Roboto-bold';
}
.mp-span{
  display: block;
  margin-bottom: 12px;
}
.price-span{
  display: block;
  font-size:30px;
  font-weight: bold;
  color: #44aa74;
  margin-bottom: 2px;
}
.dis-span{
  font-size: 14px;
  font-weight: 100;
}
.product-order{
  margin-top: 15px;
  display: flex;
}
:host /deep/ .product-order .ui-spinner-input{
  width: 80px;
}
:host /deep/ .product-order .ui-inputtext:enabled:focus:not(.ui-state-error){
  box-shadow: none;
}
.product-order button{
  font-family: 'Roboto-bold';
  width: 100%;
  margin-left: 5px;
  min-width: 220px;
}

.product-spec-min{
  margin: 25px 0px;
}

