<div class="headBanner" >
  <div class="mycontainer headContent">
    <div id="left"></div>
    <div id="right">
      <i class="fas fa-phone"></i>
      &nbsp; 0658058009
      <a routerLink='/products/all'>
        <i class="fas fa-heart"></i>
        Wish List(#num)
      </a>
      <a routerLink='/products/all'>
        <i class="fas fa-shopping-cart"></i>
        Shopping Cart
      </a>

      <a [routerLink]= "['/login','sign-in']" *ngIf="!user" >
        <i class="fas fa-sign-in-alt"></i>
        Prijavi se
      </a>
      <app-drop-down *ngIf="user" [text]="user.email"  >
        <ul>
          <li>
            <a>Pregled naloga</a>
          </li>
          <li>
            <a>Podesavanje</a>
          </li>
          <li>
            <a (click)= "logout()">Odjavi se</a>
          </li>
        </ul>
      </app-drop-down>
    </div>
    <!-- Toggler for responsive layout -->
    <div id="hamburgerBanner">
        <i class="fas fa-lightbulb"></i>
    </div>
  </div>
</div>
<!-- Second layer -->
<div class="primary-container">
  <nav class="myMenu mycontainer">

    <!-- logo -->
    <div id="logo">
      <a routerLink="/products/all">
        <div class="inlineContent">
          <img class="logo-img" src="assets/img/logo.png">
          <span class="logo-text"> KOMERC d.o.o</span>
        </div>
      </a>
    </div>

    <div id="template" class="inlineContent" >

      <div class="menu-buttons">
        <ul>
          <a href="#">
            <li> Proizvodi </li>
          </a>
          <a href="#">
            <li> Proizvodnja </li>
          </a>
          <a href="#">
            <li> O Nama </li>
          </a>
          <a href="#">
            <li> Kontakt </li>
          </a>
        </ul>
      </div>

      <div id="search">
        <form>
          <input type="text" name="search" style="margin-left:10px">
          <button><i class="fas fa-search"></i></button>
        </form>
      </div>

      <button id="shoppingChart">
        <i class="fas fa-shopping-bag"></i>
        {{articalService.addedArticals.length}} stavki - ${{ articalService.toPay }}
      </button>
    </div>

  </nav>
</div>
