<div class="headBanner" >
  <div class="mycontainer headContent">
    <div id="left"></div>
    <div id="right">
      <i class="fas fa-phone"></i>
      0658058009
      <a href="#">
        <i class="fas fa-address-book"></i>
        My Account
        <i class="fas fa-arrow-down"></i>
      </a>
      <a href="#">
        <i class="fas fa-heart"></i>
        Wish List(#num)
      </a>
      <a href="#">
        <i class="fas fa-shopping-cart"></i>
        Shopping Cart
      </a>
    </div>
    <div id="hamburgerBanner">
        <i class="fas fa-lightbulb"></i>
    </div>
  </div>
</div>
<div class="primary-container">
  <nav class="myMenu mycontainer">

    <!-- logo -->
    <div id="logo">
      <a routerLink="/products/all">
        <div class="inlineContent">
          <img class="logo-img" src="assets/img/logo.png">
          <span class="logo-text"> KOMERC d.o.o</span>
        </div>
      </a>
    </div>

    <div id="template" class="inlineContent" >

      <div class="menu-buttons">
        <ul>
          <a href="#">
            <li> Proizvodi </li>
          </a>
          <a href="#">
            <li> Proizvodnja </li>
          </a>
          <a href="#">
            <li> O Nama </li>
          </a>
          <a href="#">
            <li> Kontakt </li>
          </a>
        </ul>
      </div>

      <div id="search">
        <form>
          <input type="text" name="search" style="margin-left:10px">
          <button><i class="fas fa-search"></i></button>
        </form>
      </div>

      <button id="shoppingChart">
        <i class="fas fa-shopping-bag"></i>
        num items - $0.00
      </button>
    </div>

  </nav>
</div>
