<div class="headBanner" >
  <div class="mycontainer headContent">
    <div id="left"></div>
    <div id="right">
      <i class="fas fa-phone"></i>
      &nbsp; 0658058009
      <a routerLink='/products/all'>
        <i class="fas fa-heart"></i>
        Lista želja({{wishService.wish.size}})
      </a>
      <a routerLink='/products/all'>
        <i class="fas fa-shopping-cart"></i>
        Shopping Cart
      </a>

      <a [routerLink]= "['/login','sign-in']" *ngIf="!user" >
        <i class="fas fa-sign-in-alt"></i>
        Prijavi se
      </a>
      <app-drop-down *ngIf="user" [text]="user.email">
        <ul>
          <li>
            <a [routerLink]= "['/user','orders']">Pregled naloga</a>
          </li>
          <li>
            <a [routerLink]= "['/user','edit']">Podesavanje</a>
          </li>
          <li>
            <a (click)= "logout()">Odjavi se</a>
          </li>
        </ul>
      </app-drop-down>
    </div>
    <!-- Toggler for responsive layout -->
    <div id="hamburgerBanner">
        <i class="fas fa-lightbulb"></i>
    </div>
  </div>
</div>
<!-- Second layer -->
<div class="primary-container">
  <nav class="myMenu mycontainer">

    <!-- logo -->
    <div id="logo">
      <a routerLink="/products/all">
        <div class="inlineContent">
          <img class="logo-img" src="assets/img/logo.png">
          <span class="logo-text"> KOMERC d.o.o</span>
        </div>
      </a>
    </div>

    <div id="template" class="inlineContent" >

      <div class="menu-buttons">
        <ul>
          <a [routerLink]= "['/home']" routerLinkActive="active-link">
            <li> Naslovna </li>
          </a>
          <a [routerLink]= "['/products/all']" routerLinkActive="active-link">
            <li> Proizvodi </li>
          </a>
          <a [routerLink]= "['/production']" routerLinkActive="active-link">
            <li> Proizvodnja </li>
          </a>
          <a [routerLink]= "['/contact']" routerLinkActive="active-link">
            <li> O Nama </li>
          </a>
        </ul>
      </div>

      <div id="search">
        <form>
          <input type="text" name="search" style="margin-left:10px">
          <button><i class="fas fa-search"></i></button>
        </form>
      </div>


      <button id="shoppingChart" [ngClass]="{'scroll': artInCart.length > 5}"  (click)="op.toggle($event)">
        <p-overlayPanel #op>
          <ng-template pTemplate>
            <div style="padding: 10px;text-align: left; font-size: 12px; min-width: 280px;"
                 *ngIf="artInCart === undefined || artInCart.length === 0">
                Trenutno nemate nijedan proizvod u korpi.
            </div>
            <p-scrollPanel *ngIf="artInCart !== undefined && artInCart.length > 0"  [style]="{height: '250px'}">
              <div class="cart" *ngFor="let a of artInCart" >
                <div>
                  <img src='{{(a.art.article_images !== undefined) ? a.art.article_images[0].uri: "assets/img/no-img.png"}}'
                    alt="">
                </div>
                <div>{{a.art.article_name}}</div>
                <div>x{{a.num}}</div>
                <div>{{a.art.price * a.num | number}} din.</div>
                <div>
                  <button class="bttn"><i class="fas fa-times"></i></button>
                </div>
              </div>
            </p-scrollPanel>
            <div class="cart-summery">
              <div>
                <span>Ukupno</span>
                <span>{{ articalService.toPay | number }} din.</span>
              </div>
              <div>
                <button class="bttn btn-success">Nastavi sa kupovinom</button>
                <button class="bttn bttn-secondary">Pregled korpe</button>
              </div>
            </div>
          </ng-template>
        </p-overlayPanel>
        <i class="fas fa-shopping-bag"></i>
        [{{artInCart.length}}]&nbsp;&nbsp;{{ articalService.toPay | number }} din.
      </button>
    </div>

  </nav>
</div>
