.main-in{
  display: grid;
  gap:5px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 180fr));
  padding: 10px;
  background-color: #DFDFDF;
  width: 100%;
  color: white;

  animation-name: pop-up;
  animation-duration: 600ms;
  animation-timing-function: ease;
}
@keyframes pop-up {
  0% {
    padding: 0px 10px;
    max-height: 0px;
    color: transparent;
  }
  80%{
    padding: 0px 10px;
  }
  100%{
    padding: 10px;
    max-height: 10000px;
  }
}

:host /deep/ .main-in > div {
  position: relative;
  box-sizing: border-box;
  color: rgb(30, 97, 243);
  background-color: white;
  padding: 3px;
  height: 90px;

  background-repeat:no-repeat;
  background-position: center;
  /* background-image:url(image.jpg); */
  background-size:contain;

  cursor: pointer;
  animation-name: content-pop-up;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}
:host /deep/ .main-in > div:hover {
  box-shadow: 0px 0px 10px 5px rgb(30, 97, 243, 0.65);
}

:host /deep/ .main-in > div > img {
  position: absolute;
  display: block;
  max-width:100%;
  max-height:90px;
  width: auto;
  height: auto;

  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  animation-name: img-pop-up;
  animation-duration: 600ms;
  animation-timing-function: ease;
}

@keyframes content-pop-up{
  0% {
    color: transparent;
    background-color: transparent;
    height: 0px;
  }
  100% {
    color: white;
    height: 90px;
  }
}
@-webkit-keyframes content-pop-up{
  0% {
    color: transparent;
    background-color: transparent;
    height: 0px;
  }
  100% {
    color: white;
    height: 90px;
  }
}
@-webkit-keyframes img-pop-up{
  0% {
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes img-pop-up{
  0% {
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-out{
  animation-name: pop-out;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes pop-out {
  0% {
    height: auto;
    padding: 0px;
  }
  100% {
    padding: 0px;
    height: 0px;
  }
}

