<div class="layout">

  <div class="leftPanel left-panel-relative" #leftRef >
    <div class="dash-board">
      <input type="text" placeholder="Pretraži">
      <span class="dash-board-span">
        <i class="fas fa-clipboard-list"></i>
      </span>
      <span class="dash-board-span" (click)="onToggleLeftPanel()"  >
        <i class="fas fa-chevron-left" style="margin-right:1px ;"></i>
      </span>
    </div>
    <app-accordition (search)="onCategorySwitch($event)">
      <div *ngFor="let category of categories">
        <app-accordition-tab header="{{category.category_name}}">
          <div *ngFor="let sub of category.sub_categories">
            <div class="sub-category-item" (click)="onSubCategorySelect(sub.id)"
              [ngClass]="{'category-item-active': sub.id === selectedSubcategory}">{{ sub.subcategory_name | uppercase }} </div>
          </div>
        </app-accordition-tab>
      </div>
    </app-accordition>

  </div>
  <div class="datasheet" #content>
    <span class="show-button" #showPanel *ngIf="isLeftPanelHidden" (click)="onToggleLeftPanel()" >
      <i class="fas fa-chevron-right" style="margin-left:1px"></i>
    </span>
    <div>
      <app-toast></app-toast>
        <!-- parametri radi lakse pretrage  -->
      <div class="header-search">
        <div id="byPrice">
          Sortiraj po:
          <select name="sortOption" class="selectpicker" id="select">
            <option value="priceDec">Ceni Opadajuce</option>
            <option value="priceDec">Ceni Rastuce</option>
            <option value="priceDec">Proizvodjacu</option>
          </select>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">
                <i class="fas fa-caret-left"></i>
              </a>
            </li>
            <li class="page-item">
              <span class="page-link">
                {{currentPage}} / {{maxPage}}
              </span>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">
                <i class="fas fa-caret-right"></i>
              </a>
            </li>
          </ul>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">
                <i class="fas fa-th"></i>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">
                <i class="fas fa-bars"></i>
              </a>
            </li>
          </ul>
        </nav>

      </div>

      <!-- Proizvodi koji se pretrazuju -->
      <app-data-view [value]="articals"></app-data-view>

    </div>
  </div>
</div>
