<div class="layout">

  <div class="leftPanel left-panel-relative" #leftRef >
    <div class="dash-board">
      <input type="text" placeholder="Pretraži">
      <span class="dash-board-span">
        <i class="fas fa-clipboard-list"></i>
      </span>
      <span class="dash-board-span" (click)="onToggleLeftPanel()"  >
        <i class="fas fa-chevron-left" style="margin-right:1px ;"></i>
      </span>
    </div>
    <app-accordition (search)="onCategorySwitch($event)">
      <div *ngFor="let category of categories">
        <app-accordition-tab header="{{category.category_name}}">
          <div *ngFor="let sub of category.sub_categories">
            <div class="sub-category-item">{{ sub.subcategory_name | uppercase }} </div>
          </div>
        </app-accordition-tab>
      </div>
    </app-accordition>

  </div>
  <div class="datasheet" #content>
    <span class="show-button" #showPanel *ngIf="isLeftPanelHidden" (click)="onToggleLeftPanel()" >
      <i class="fas fa-chevron-right" style="margin-left:1px"></i>
    </span>
    <div>
      <app-toast></app-toast>
        <!-- parametri radi lakse pretrage  -->
      <div class="header-search">
        <div id="byPrice">
          <span>Sortiraj po:</span>
          <select name="sortOption" id="select">
            <option value="priceDec">Ceni Opadajuce</option>
            <option value="priceDec">Ceni Rastuce</option>
            <option value="priceDec">Proizvodjacu</option>
          </select>
        </div>
        <div id="nextPages">
          <button><i class="fas fa-angle-left"></i></button>
          <button><i class="fas fa-angle-right"></i></button>
        </div>
        <div id="layout">
            <!-- <span><img src="assets/img/vertical-grid-layout.png"></span> -->
            <span><i class="fas fa-th"></i></span>
            <span><i class="fas fa-bars"></i></span>
        </div>

      </div>

      <!-- Proizvodi koji se pretrazuju -->
      <app-data-view [value]="articals"></app-data-view>

    </div>
  </div>
</div>
