<div class="layout">

  <div class="leftPanel left-panel-relative" #leftRef >
    <div class="dash-board">
      <input type="text" placeholder="Pretraži" (keyup)="onSearchFieldChange()" [(ngModel)]="searchField">
      <span class="dash-board-span">
        <i class="fas fa-clipboard-list"></i>
      </span>
      <span class="dash-board-span" (click)="onToggleLeftPanel()"  >
        <i class="fas fa-chevron-left" style="margin-right:1px ;"></i>
      </span>
    </div>

    <app-accordition (search)="onCategorySwitch($event)">
      <div *ngFor="let category of categories">
        <app-accordition-tab header="{{category.category_name}}">
          <div *ngFor="let sub of category.sub_categories">
            <div class="sub-category-item" (click)="onSubCategorySelect(sub.id)"
              [ngClass]="{'category-item-active': sub.id === selectedSubcategory}">{{ sub.subcategory_name | uppercase }} </div>
          </div>
        </app-accordition-tab>
      </div>
    </app-accordition>

  </div>
  <div class="datasheet" #content>
    <span class="show-button" #showPanel *ngIf="isLeftPanelHidden" (click)="onToggleLeftPanel()" >
      <i class="fas fa-chevron-right" style="margin-left:1px"></i>
    </span>
    <div>
      <app-carousel [show]="showProducers">
        <div *ngFor="let prod of producers;let ind = index" (click)="selectGroup(ind)"
          style="background-size: cover;"
        >
          <img src="{{(prod.producer_icon !== null) ? prod.producer_icon: ''}}" alt="">
          <span *ngIf="prod.producer_icon === null" >{{prod.producer_name}}</span>
        </div>
      </app-carousel>

      <!-- HEADER ARTICALS -->
      <div class="header-search">
        <div #header class="header-container">
          <div
            class="producer-group" (click)="this.showProducers = !this.showProducers;"
            [ngStyle]="{'background-color': (selectedProducer === null) ? '#337ab7': 'white'}"
          >
            <span>
              <i *ngIf="selectedProducer === null" class="fas fa-industry"></i> &nbsp;
              <span *ngIf="selectedProducer === null" >Izaberite grupu</span>
            </span>

            <img *ngIf="selectedProducer !== null" src="{{selectedProducer.producer_icon}}">
            <span id="producerName" *ngIf="selectedProducer !== null">{{selectedProducer.producer_name}}</span>
            <i *ngIf="selectedProducer !== null" (click)="(selectGroup(-1))" class="far fa-window-close right" id="closeGroup"></i>
          </div>

          <div class="header-right">
            <p-dropdown [options]="filter" [(ngModel)]="selectedFilter" placeholder="--Sortiraj po--"></p-dropdown>
            <p-paginator #top [rows]="20" [totalRecords]="artCount" (onPageChange)="topPageChange($event, true)" ></p-paginator>
          </div>

        </div>
      </div>

      <!-- Proizvodi koji se pretrazuju -->
      <app-data-view [value]="articals"></app-data-view>
      <p-sidebar [(visible)]="display"  position="right">
        <button class="btn btn-primary" (click)="clearFeatureList()" >
          <i class="fas fa-broom"></i>
          Očisti filter
        </button>
        <div class="custom">
          <p-scrollPanel  [style]="{height: '95vh'}">
            <div class="feature-sidebar" *ngFor="let f of features">
              <h4>
                {{f.feature_name}}
              </h4>
              <div style="margin-left: 3px;" *ngFor="let value of f.values" >
                <p-checkbox name="groupname"
                  label="{{value}}"
                  value="{{value}}"
                  [(ngModel)]="selectedValues"
                  (onChange)="onFeatureChange()"
                ></p-checkbox>
              </div>
            </div>
          </p-scrollPanel>
        </div>
      </p-sidebar>
      <button class="filter" (click)="display = true" *ngIf="features !== undefined && features.length > 0" >
        <i class="fas fa-filter" style="margin-right: 2px; padding-top: 6px;"></i>
      </button>

      <div class="header-search" >
        <div class="header-container">
          <p-paginator #bottom [rows]="20" [totalRecords]="artCount" (onPageChange)="botPageChange($event, true)"></p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
