<div class="product-wrapper">
  <button class="bttn bttn-primary" style="font-size: 11px;"
    (click)="backToProducts()" >
    <i class="fas fa-reply"></i>
    Nastavi sa pretragom
  </button>

  <div class="product-title">
    <h3>
      {{artical.article_name}}
    </h3>
    <hr style="margin: 0px 0px 5px 0px;">
  </div>
  <div *ngIf="artical" class="product-container">

    <div class="product-images">
      <app-gallery [images]="images"></app-gallery>
    </div>
    <div class="product-status">
      <span class="positive">
        <i class="fas fa-check-circle"></i>
          Na stanju
      </span>
      <span class="positive">
        <i class="fas fa-clock"></i>
          Rok isporuke 3 dana
      </span>
      <span class="positive">
        <i class="fas fa-truck"></i>
        Besplatna isporuka
      </span>
    </div>

    <div class="price">
      <span class="mp-span"> MP 111.11 din. </span>
      <span class="price-span">{{artical.price}} din.</span>
      <span class="dis-span">Ušteda: 30.21 din.</span>

      <div class="product-order">
        <p-spinner [(ngModel)]="itemCount"></p-spinner>
        <button id="Order" class="bttn bttn-primary">
          <i class="fas fa-shopping-cart"></i>
          Stavi u korpu
        </button>
      </div>
    </div>

    <div class="product-spec-min">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nihil veniam, nobis nisi tempore magnam aut. Ratione saepe aliquid consequatur libero laborum blanditiis a cupiditate nihil iusto cum, quis iure illum culpa voluptates tempore deserunt tempora maxime dicta optio. Soluta totam ex ipsum id neque deleniti nisi adipisci, corporis facere.
    </div>


  </div>
  <p *ngIf="!artical" > Proizvod nije pronadjen!</p>
</div>
