/* You can add global styles to this file, and also import other style files */

/* Fonts */
/*
@font-face {
  font-family: Source Sans Pro;
  src: url(assets/font/) format("opentype");
} */


* {
  padding: 0px;
  margin: 0px;
}

:host {
  --primary-color: #007BFF;
  --secondary-color: #333;
}

html, body{
  min-height: 100%;
}

/* Utility classes */

.mar-5  { margin-top: 5px; }
.mar-10 { margin-top: 10px; }
.mar-15 { margin-top: 15px; }
