/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0px;
}


html, body{
  min-height: 100%;
}

/* Utility classes */

.mar-5  { margin-top: 5px; }
.mar-10 { margin-top: 10px; }
.mar-15 { margin-top: 15px; }
