.items{
  font-family: 'Source Sans Pro';
  margin: auto;
  max-width: 100%;
  padding: 12px;
  display: grid;
  gap:2px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 320fr));
  /* justify-content: center; */
}

@media (min-width: 2100px) {
  .items {
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
   }
}
/*
@media (min-width: 900px) {
  .items { grid-template-columns: repeat(3, 1fr); }
} */

/* @media screen and (max-width: 1290px) and (min-width: 995px) {
  .items {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 995px) and (min-width: 550px) {
  .items {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 550px) {
  .items {
    grid-template-columns: auto;
  }
} */
/* za ng-content :host /deep/ */
 .item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  border: 1px solid #e3e3e3;
  max-width: 100%;
  min-width: 250px;

}
.item #name{
  display: grid;
  background-color: #F4F4F4;
  color: #333;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  margin: 2px;
  align-items: center;
  text-align: left;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item #name span{
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}
#picture {
  cursor: pointer;
  position: relative;
}
#picture img {
  max-width: 100%;
  /* height: auto; */
  /* height: 250px; */
  height: 200px;
  padding: 5px;
}
.hideBox {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(36,45,55,.9);
  align-items: center;
  justify-content: center;
}
#details{
  font-size: 12px;
  font-weight: bolder;
  color: white;
  font-family: source sans pro,sans-serif;
}

/* Price, dugme za kupovinu itd. */
#price{
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
}
.item button {
  border:0px;
  padding: 10px;
  background-color: #337ab7;
  color: white;
  font-size: 14px;
  font-family: 'Source Sans Pro';
  font-weight: 700;
}
.item button:hover {
  background-color: #23527C;
}


/* Star */
.hoverStar,
.addedStar {
  color: #FFC107;
}
