.items{
  font-family: 'Source Sans Pro';
  margin: auto;
  max-width: 100%;
  padding: 12px;
  display: grid;
  gap:5px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 320fr));
  /* justify-content: center; */
}

@media (min-width: 2100px) {
  .items {
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
   }
}
/*
@media (min-width: 900px) {
  .items { grid-template-columns: repeat(3, 1fr); }
} */

/* @media screen and (max-width: 1290px) and (min-width: 995px) {
  .items {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 995px) and (min-width: 550px) {
  .items {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 550px) {
  .items {
    grid-template-columns: auto;
  }
} */
/* za ng-content :host /deep/ */
 .item {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #e3e3e3;
  max-width: 100%;
  min-width: 250px;
  overflow: hidden;
  border-radius: 8px;
}
.item #name{
  display: grid;
  background-color: #F4F4F4;
  color: #333;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  margin: 2px;
  align-items: center;
  text-align: left;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item #name span{
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}
#picture {
  cursor: pointer;
  position: relative;
}
#picture img {
  max-width: 100%;
  /* height: auto; */
  /* height: 250px; */
  height: 200px;
  padding: 5px;
}
.hideBox {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(36,45,55,.9);
  align-items: center;
  justify-content: center;
}
#details{
  font-size: 12px;
  font-weight: bolder;
  color: white;
  font-family: source sans pro,sans-serif;
}

/* Price, dugme za kupovinu itd. */
#old-price{
  height: 20px;
  padding: 0px 15px;
  text-align: left !important;
}
#price{
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
}
#price > span {
  font-size: 16px;
  font-family: 'Roboto-midium';
}
.item button {
  border:0px;
  padding: 10px;
  font-size: 14px;
  font-family: 'Source Sans Pro';
  font-weight: 700;
}
.buyBttn {
  width: 100%;
  position: relative;
  color: white;
  overflow: hidden;
  background-color: #337ab7;
  transition: all;
  transition-duration: 200ms;
  border-bottom-left-radius: 8px;
}
.buyBttn:hover {
  background-color: #007ad9;
}
.wishBttn {
  width: 50px;
  transition: all;
  transition-duration: 200ms;
  border-bottom-right-radius: 8px;
  background-color: rgb(245, 233, 194);
  background-image: linear-gradient(to bottom,rgb(245, 215, 119) 0,rgb(250, 241, 211) 100%);
}
.wishBttn:hover {
  background-color: rgb(245, 215, 119);
  background-image: linear-gradient(to bottom,rgb(250, 221, 134) 0,rgb(245, 220, 140) 100%);
}
.wished {
  text-shadow: 0px 0px 8px #ff0055;
  color: #ff0055;
}

.buyBttn > div {
  position: absolute;
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(2, 81, 165, 0.8);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.buyBttn > div > button {
  background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
  background-color: #12BC00;
}
.buyBttn > div > button:hover {
  background-image: linear-gradient(to bottom,#69d469 0,#47aa47 100%);
}
.buyBttn > div /deep/ .p-inputtext {
  border-radius: 0px 0px 0px 8px;
  padding: 9px;
  width: 90px;
  font-size: 14px;
  height: 40px;
}
.buyBttn > div /deep/ .p-inputnumber-button-group .p-inputnumber-button .p-button-icon{
  font-size: 14px;
}
.buyBttn > div /deep/ .p-inputnumber-button-group .p-inputnumber-button{
  width: 40px;
}
.buyBttn > div /deep/ .p-inputtext:enabled:focus:not(.p-state-error){
  box-shadow: 0 0 0 0em #8dcdff;
}

.buyBttn:hover > div {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

/* Star */
.hoverStar,
.addedStar {
  color: #FFC107;
}
