<div class="items" >
  <div *ngFor="let artical of value" >

    <div class="item" style="flex: 1;">
      <div (mouseenter)="onHoverIn(e,m)" (mouseleave)="onHoverOut(e,m)" id="picture">
        <div #e class="hideBox hidden" (click)="onProductDetail(artical)">
          <span id="details">Pogledaj detalje</span>
        </div>
        <img #m
          src='{{(artical.profile_picture !== null) ? artical.profile_picture: "assets/img/no-img.png"}}'
          alt=""
        >
      </div>
      <div id="name">
        <span>
          {{ artical.article_name }}
        </span>
      </div>
      <div id="old-price">
        <span *ngIf="artical.user_discount > 0" >
           <del>{{ artical.price }} din.</del>
        </span>
      </div>
      <div id="price">
        <span>{{ artical.price - (artical.price * artical.user_discount / 100) | number : '1.2-2'}} din.</span>

        <div #star>
          <i *ngFor="let i of [1, 2, 3, 4, 5]"
          id="star_{{i}}"
          class="fas fa-star"
          (mouseenter)="onStarHover(star, i)"
          (mouseleave)="onStarOut(star, i)"
          (click)="onStarClick(star, i)"></i>
        </div>
      </div>
      <div style="display: flex;">
        <button class="buyBttn">
          Stavite u korpu <i class="fas fa-shopping-cart"></i>
          <div>
            <p-inputNumber [showButtons]="true" [max]="99999999" [min]="1" [(ngModel)]="numOfArt"></p-inputNumber>
            <button (click)="addToCart(artical)"><i class="fas fa-check"></i></button>
          </div>
        </button>
        <button class="wishBttn" (click)="addToWishList(artical)" >
          <i class="fas fa-heart" [ngClass]="{'wished': (artical.isOnWishList)}"></i>
        </button>
      </div>
    </div>

  </div>
</div>
