<div class="items" >
  <div *ngFor="let artical of value" >

    <div class="item" style="flex: 1;">
      <div (mouseenter)="onHoverIn(e,m)" (mouseleave)="onHoverOut(e,m)" id="picture">
        <div #e class="hideBox hidden" (click)="onProductDetail(artical)">
          <span id="details">Pogledaj detalje</span>
        </div>
        <img #m
          src='{{(artical.article_images !== undefined) ? artical.article_images[0].uri: "assets/img/no-img.png"}}'
          alt=""
        >
      </div>
      <div id="name">
        <span>
          {{ artical.article_name }}
        </span>
      </div>
      <div id="price">
        <span>Cena: {{ artical.price }} RSD</span>

        <div #star>
          <i *ngFor="let i of [1, 2, 3, 4, 5]"
          id="star_{{i}}"
          class="fas fa-star"
          (mouseenter)="onStarHover(star, i)"
          (mouseleave)="onStarOut(star, i)"
          (click)="onStarClick(star, i)"></i>
        </div>
      </div>
      <button (click)="addToCart(artical)">
        Stavite u korpu <i class="fas fa-shopping-cart"></i>
      </button>
    </div>

  </div>
</div>
